 <div class="row interaktionsbuttons bahnhofbuttons">
    <div class="row">
        <input class="interaktionsbutton" type="button" id="verkaufen" name="verkaufen"
            value="Bahnhof verkaufen">
    </div>
    <div class="row">
        <input class="interaktionsbutton" type="button" id="kaufen" name="kaufen"
            value="Bahnhof kaufen">
    </div>
</div>