<!-- Code by Rene -->
 <div class="row interaktionsbuttons bahnhofbuttons">
    <div class="row">
        <input class="interaktionsbutton" type="button" id="verkaufen" name="verkaufen"
            value="Bahnhof verkaufen">
    </div>
    <div class="row">
        <input class="interaktionsbutton" type="button" id="hypothek_aufnehmen" name="hypothek_aufnehmen"
            value="Hypothek aufnehmen">
    </div>
</div>