 <!-- Code by Rene -->
 <div class="row interaktionsbuttons ereignisbuttons">
    <div class="row">
        <input class="interaktionsbutton" type="button" id="nutzen" name="nutzen"
            value="Karte benutzen">
    </div>
</div>