<div class="row interaktionsbuttons">
    <div class="row">
        {% set disabled = '' %}
        {% if saveGame['rolledDice'] == 1 %}
            {% set disabled = 'disabled' %}
        {% endif %}
        <input class="interaktionsbutton" type="button" id="jailDice" data-action="Move"
               name="jailDice" value="Würfeln">
    </div>
    <div class="row">
        <input class="interaktionsbutton" type="button" id="payout"
               name="payout" value="Freikaufen (50$)">
    </div>
</div>
<div class="row next-player-button interaktionsbuttons-margin">
    {% set disabled = '' %}
    {% if saveGame['rolledDice'] == 0 %}
        {% set disabled = 'disabled' %}
    {% endif %}
    <input class="interaktionsbutton" type="button" id="next_playerJail" name="next_playerJail"
           value="nächster Spieler">
</div>