 <div class="col margin-buttons">
    <div class="row interaktionsbuttons">
        <div class="row">
            <input class="interaktionsbutton" type="button" id="verkaufen" name="verkaufen"
                value="Straße verkaufen">
        </div>
        <div class="row">
            <input class="interaktionsbutton" type="button" id="haus_kaufen" name="haus_kaufen"
                value="Haus kaufen">
        </div>
        <div class="row">
            <input class="interaktionsbutton" type="button" id="hotel_kaufen" name="hotel_kaufen"
                value="Hotel kaufen">
        </div>
        <div class="row">
            <input class="interaktionsbutton" type="button" id="handelsmenue_oeffnen"
                name="handelsmenue_oeffnen" value="Handelsmenü öffnen">
        </div>
    </div>
</div>                
