 <div class="row interaktionsbuttons bahnhofbuttons">
    <div class="row">
        <input class="interaktionsbutton" type="button" id="verkaufen" name="verkaufen"
            value="Werk verkaufen">
    </div>
</div>