{% extends 'Core/Views/Base.html.twig' %}

{% block site %}

<div class="container text-center">
    <div class="row">
        <div class="col single-card-template">
            {% include "Game/Views/Single-Card.html.twig" %}
        </div>
    </div>
    <div class="row interaktionsbuttons">
        <div class="row">
          <input class="interaktionsbutton dice" type="button" id="wuerfeln" data-action="Move" name ="wuerfeln" value="Würfeln">
        </div>
        <div class="row">
          <input class="interaktionsbutton" type="button" id="verkaufen" name ="verkaufen" value="Straße verkaufen">
        </div>
        <div class="row">
          <input class="interaktionsbutton" type="button" id="haus_kaufen" name ="haus_kaufen" value="Haus kaufen">
        </div>
        <div class="row">
          <input class="interaktionsbutton" type="button" id="hotel_kaufen" name ="hotel_kaufen" value="Hotel kaufen">
        </div>
        <div class="row">
          <input class="interaktionsbutton" type="button" id="handelsmenue_oeffnen" name ="handelsmenue_oeffnen" value="Handelsmenü öffnen">
        </div>
      </div>
</div>



{% endblock %}

