{% extends 'Core/Views/Base.html.twig' %}

{% block javascript %}
let gameField = new PlayField();
let card = new Card();
let round = new Round();
{% endblock %}

{% block site %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <div class="container-margin">
        <div class="row-besides">

            {# Spielfeld #}
            <div class="relative-positioning">

                {% for id in 0..39 %}
                    {% include 'Game/views/PlayField/PlayField.html.twig' %}
                {% endfor %}

                <img class="spielfeld" src="{{ imgPath }}{{ playFieldJPG }}" alt="Spielfeld">
            </div>

            {# Spieler und Straßenanzeige #}

            <div class="col spieler-strassen-anzeige">
                <div class="spieleranzeige">
                    Spieler am Zug: 1
                </div>
                {# Karteplatzhalter #}
                {% set selectable='playField' %}
                {% set id = 1 %}
                {% include 'Game/views/Single-Card.html.twig' %}

                {# Karteplatzhalter Ende #}

                {# Menu-Buttons #}

            </div>
            <div class="col margin-buttons">
                <div class="row interaktionsbuttons">
                    <div class="row">
                        <input class="interaktionsbutton dice" type="button" id="wuerfeln" data-action="Move"
                            name="wuerfeln" value="Würfeln">
                    </div>
                    <div class="row">
                        <input class="interaktionsbutton" type="button" id="verkaufen" name="verkaufen"
                            value="Straße verkaufen">
                    </div>
                    <div class="row">
                        <input class="interaktionsbutton" type="button" id="haus_kaufen" name="haus_kaufen"
                            value="Haus kaufen">
                    </div>
                    <div class="row">
                        <input class="interaktionsbutton" type="button" id="haus_verkaufen" name="haus_verkaufen"
                            value="Haus verkaufen">
                    </div>
                    <div class="row">
                        <input class="interaktionsbutton" type="button" id="handelsmenue_oeffnen"
                            name="handelsmenue_oeffnen" value="Handelsmenü öffnen">
                    </div>
                </div>
                <div class="row next-player-button interaktionsbuttons-margin">
                    <input disabled class="interaktionsbutton" type="button" id="next_player" name="next_player"
                        value="nächster Spieler">
                </div>
                <div class="row next-player-button interaktionsbuttons-margin">
                    {# TODO nur zum testen, soll später in ein extra popup kommen #}
                    <input class="interaktionsbutton" type="button" id="buyStreet" name="buyStreet"
                        value="Straße kaufen">
                </div>
            </div>
        </div>

    </div>








{% endblock %}