{% extends 'Core/Views/Base.html.twig' %}

{% block site %}

<div class="container text-center">
  <div class="row">
    <div class="col">
      Spielfeld
    </div>
  </div>
  <div class="row">
    <div class="col">
      Buttonleiste
    </div>
  </div>
</div>

{% endblock %}