{% extends 'Core/Views/Base.html.twig' %}

{% block site %}
<style>

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



</style>
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
<div class="container text-center single-card single-card-bahnhof">
    <div class="row">
        <div class="col street-color street-name">
            <img src="{{ imgPath }}{{ train }}" alt="Bahnhof">
        </div>
    </div>
    <div class="row row-street-properties">
        <div class="col street-properties">
            <div class="kosten-bereich">
                <div class="row row-width">
                    Miete:
                </div>
                <div class="row line-height">
                    Miete mit 1 Haus:
                </div>
                <div class="row line-height">
                    Miete mit 2 Häusern:
                </div>
                <div class="row line-height">
                    Miete mit 3 Häusern:
                </div>
                <div class="row line-height">
                    Miete mit 4 Häusern:
                </div>
                <div class="row line-height">
                    Miete mit 1 Hotel:
                </div>
            </div>
            <div class="kauf-bereich">
                <div class="row line-height">
                    Kosten für 1 Haus:
                </div>
                <div class="row line-height">
                    Kosten für 1 Hotel:
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}