{% extends 'Core/Views/Base.html.twig' %}

{% block site %}
<style>

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



</style>
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
<div class="container text-center single-card single-card-bahnhof">
    <div class="row">
        <div class="col street-name">
            Haus-Platzhalter
            -haus image-
        </div>
    </div>
    <div class="row row-street-properties">
        <div class="col street-properties">
            <div class="kosten-bereich">
                <div class="row row-width">
                    Grundstückswert:
                </div>
                <div class="row line-height">
                    Miete:
                </div>
                <div class="row line-height">
                    Miete mit
                </div>
                <div class="row line-height">
                    2 Bahnhöfen:
                </div>
                <div class="row line-height">
                    Miete mit
                </div>
                <div class="row line-height">
                    3 Bahnhöfen:
                </div>
                <div class="row line-height">
                    Miete mit
                </div>
                <div class="row line-height">
                    4 Bahnhöfen:
                </div>
                
            </div>
            
        </div>
    </div>
</div>


{% endblock %}