{% extends 'Core/Views/Base.html.twig' %}

{% block javascript %}

{% endblock %}

{% block site %}

<style>

    @import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

</style>

    <div>Monopoly</div>

{% endblock %}